Repository cyphar/libpathrs: changes, and which Codecov flags are due for each by the changed paths.
All: pathrs, libpathrs.so

codecov.yml:

# SPDX-License-Identifier: MPL-2.0
#
# libpathrs: safe path resolution on Linux
# Copyright (C) 2019-2025 Aleksa Sarai <cyphar@cyphar.com>
# Copyright (C) 2019-2025 SUSE LLC
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

comment:
  layout: "reach, diff, components, files"
  require_changes: true
  behavior: once
  branches:
    - master

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: pathrs
      name: pathrs
      paths:
        - "src/**"
        - "!src/capi/**"
      statuses:
        - type: project
          target: 80%
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%
    - component_id: pathrs-capi
      name: libpathrs.so
      paths:
        - "src/capi/**"
      statuses:
        - type: project
          target: 80%
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

coverage:
  range: 60..95

github_checks:
  annotations: true

procfs: always use ProcfsHandleRef::open_base as a temporary
  CHANGELOG.md
  src/procfs.rs
Due: pathrs

procfs: move CACHED_PROC_HANDLE from global scope
  src/procfs.rs
Due: pathrs

utils: fd: allow using fd 0 with FdExt::get_fdinfo_field
  src/utils/fd.rs
Due: pathrs

procfs: do not use backported fd-based mount API
  CHANGELOG.md
  src/error.rs
  src/procfs.rs
Due: pathrs

utils: fdinfo: do not require "ino" field for pre-5.14 kernels
  CHANGELOG.md
  src/utils/fdinfo.rs
Due: pathrs

utils: add kernel version comparison code
  Cargo.lock
  Cargo.toml
  src/syscalls.rs
  src/utils.rs
  src/utils/kernel_version.rs
Due: pathrs

procfs: improve error message wrapping
  src/procfs.rs
  src/utils/fd.rs
Due: pathrs

syscalls: wrap FrozenFd path repr with brackets
  src/syscalls.rs
Due: pathrs

procfs: opath: enforce fstype checks
  src/procfs.rs
  src/resolvers/procfs.rs
Due: pathrs

procfs: switch resolver tests to tt muncher
  src/resolvers/procfs.rs
Due: pathrs

procfs: use /proc/self/fd/$n symlink loop for loop tests
  src/resolvers/procfs.rs
Due: pathrs

tests: fix dead_code warning for 'cargo check'
  src/tests/traits/handle.rs
Due: pathrs

utils: make kernel version helpers more generic
  src/utils/kernel_version.rs
Due: pathrs

fdinfo: permit non-dumpable EACCES for old kernels with 0400 fdinfo modes
  src/procfs.rs
  src/syscalls.rs
  src/utils/fd.rs
Due: pathrs

utils: fd: add missing derives for Metadata
  src/utils/fd.rs
Due: pathrs

fdinfo: permit non-dumpable EACCES for older kernels
  CHANGELOG.md
  src/procfs.rs
  src/syscalls.rs
  src/utils/fd.rs
Due: pathrs

e2e-tests: add support for setting PR_SET_DUMPABLE
  e2e-tests/cmd/go/main.go
  e2e-tests/cmd/python/pathrs-cmd.py
  e2e-tests/cmd/rust/src/main.rs
Due: none

procfs: opath: enforce fstype checks
  CHANGELOG.md
  src/procfs.rs
  src/resolvers/procfs.rs
Due: pathrs

root: improve Root::create{,_file} docs
  src/root.rs
Due: pathrs

MAINTAINERS: add maintainers file
  MAINTAINERS
Due: none

keyring: add keyring file and management scripts
  .github/workflows/rust.yml
  Makefile
  hack/keyring-addkey.sh
  hack/keyring-validate.sh
  libpathrs.keyring
Due: none

make: add signed release build script
  .github/workflows/rust.yml
  .gitignore
  CHANGELOG.md
  Makefile
  hack/readlinkf.sh
  hack/release.sh
Due: none

VERSION: release v0.2.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/bindings/python/pyproject.toml
Due: none

VERSION: back to development
  Cargo.lock
  Cargo.toml
  contrib/bindings/python/pyproject.toml
Due: none

capi: swap *link arguments to match syscall API
  CHANGELOG.md
  build.rs
  contrib/bindings/python/pathrs/_pathrs.py
  e2e-tests/cmd/go/root.go
  e2e-tests/cmd/python/pathrs-cmd.py
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/root_linux.go
  include/pathrs.h
  src/capi/core.rs
  src/tests/capi/root.rs
Due: pathrs, libpathrs.so

cargo: bump deps
  Cargo.lock
Due: none

deps: bump to rand 0.10
  Cargo.lock
  Cargo.toml
  src/capi/error.rs
Due: libpathrs.so

hack: keyring-validate: support maintainers with no keys
  hack/keyring-validate.sh
Due: none

INSTALL: add some basic installation instructions
  INSTALL.md
Due: none

INSTALL: drop Gentoo and Alpine references
  INSTALL.md
Due: none

docs: add documentation of historical CVEs
  README.md
  docs/avoidable-vulnerabilities.md
Due: none

README: move kernel version table to dedicated file
  README.md
  docs/kernel-features.md
Due: none

lib: simplify Rust library docs
  src/lib.rs
Due: pathrs

README: move procfs examples to dedicated file
  README.md
  docs/avoidable-vulnerabilities.md
  docs/procfs-api.md
Due: none

README: add Rust example to README
  README.md
Due: none
