Repository cyphar/libpathrs: changes, and which Codecov flags are due for each by the changed paths.
All: pathrs, libpathrs.so

codecov.yml:

# SPDX-License-Identifier: MPL-2.0
#
# libpathrs: safe path resolution on Linux
# Copyright (C) 2019-2025 Aleksa Sarai <cyphar@cyphar.com>
# Copyright (C) 2019-2025 SUSE LLC
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

comment:
  layout: "reach, diff, components, files"
  require_changes: true
  behavior: once
  branches:
    - master

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: pathrs
      name: pathrs
      paths:
        - "src/**"
        - "!src/capi/**"
      statuses:
        - type: project
          target: 80%
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%
    - component_id: pathrs-capi
      name: libpathrs.so
      paths:
        - "src/capi/**"
      statuses:
        - type: project
          target: 80%
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

coverage:
  range: 60..95

github_checks:
  annotations: true

codecov: make patch diffs informational
  codecov.yml
Due: none

README: update badges
  README.md
Due: none

syscalls: add FrozenFd tests
  src/syscalls.rs
Due: pathrs

handle: add BorrowedFd <-> HandleRef roundtrip test
  src/handle.rs
Due: pathrs

syscalls: add CheckRustixFd test
  src/syscalls.rs
Due: pathrs

go-pathrs: remove explicit pkg.go.dev links
  go-pathrs/handle_linux.go
  go-pathrs/procfs/procfs_linux.go
  go-pathrs/root_linux.go
Due: none

go-pathrs: refer to IntoFile not IntoRaw
  go-pathrs/handle_linux.go
Due: none

tests: mkdir_all: bump nofile ulimit
  src/tests/test_root_ops.rs
Due: pathrs

resolver: tests: skip /proc/net/unix for 'cargo test'
  Cargo.toml
  hack/rust-tests.sh
  src/resolvers/procfs.rs
Due: pathrs

tests: hide racing tests behind _test_race feature
  .github/workflows/rust.yml
  CHANGELOG.md
  Cargo.toml
  hack/rust-tests.sh
  src/tests/test_race_resolve_partial.rs
  src/tests/test_root_ops.rs
Due: pathrs

gha: rust: add 'cargo test' smoke test
  .github/workflows/rust.yml
  CHANGELOG.md
Due: none

tests: racing root ops: bump nofile ulimit
  src/tests/test_root_ops.rs
Due: pathrs

VERSION: release v0.2.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/bindings/python/pyproject.toml
Due: none

VERSION: back to development
  Cargo.lock
  Cargo.toml
  contrib/bindings/python/pyproject.toml
Due: none

openat2: do EAGAIN retry for all openat2 calls
  CHANGELOG.md
  src/resolvers/openat2.rs
  src/syscalls.rs
Due: pathrs

openat2: more flexible fallback logic
  CHANGELOG.md
  src/resolvers.rs
  src/resolvers/openat2.rs
  src/resolvers/procfs.rs
  src/syscalls.rs
  src/tests/test_procfs.rs
  src/tests/test_race_resolve_partial.rs
  src/tests/test_resolve.rs
  src/tests/test_resolve_partial.rs
  src/tests/test_root_ops.rs
  src/utils/raw_procfs.rs
Due: pathrs

build: remove unused -Wl,--wrap linker flag
  build.rs
Due: none

fd: fix f_flags fdinfo test on other architectures
  src/utils/fd.rs
Due: pathrs

gha: run 'make release' in cross-arch CI
  .github/workflows/rust.yml
Due: none

rustc: use -C linker=clang -C link-arg=-fuse-ld=lld
  Makefile
Due: none

build: fix spurious SIGPIPE
  install.sh
Due: none

capi: swap *link arguments to match syscalls
  CHANGELOG.md
  contrib/bindings/python/pathrs/_pathrs.py
  e2e-tests/cmd/go/root.go
  e2e-tests/cmd/python/pathrs-cmd.py
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/root_linux.go
  include/pathrs.h
  src/capi/core.rs
  src/tests/capi/root.rs
Due: pathrs, libpathrs.so

build: fix Rust 1.63 builds broken by --crate-type
  CHANGELOG.md
  Cargo.toml
  Makefile
Due: none

ci: build libpathrs.so for different Rust versions
  .github/workflows/rust.yml
Due: none

build: use lld for Rust < 1.90
  .github/workflows/rust.yml
  CHANGELOG.md
  build.rs
Due: none

capi: fix #[cfg(...)] soup for .symver
  .github/workflows/rust.yml
  CHANGELOG.md
  Makefile
  hack/check-elf-symbols.sh
  src/capi/utils.rs
Due: libpathrs.so

make: improve --crate-types workaround
  Makefile
  hack/with-crate-type.sh
Due: none

VERSION: release v0.2.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/bindings/python/pyproject.toml
Due: none

capi: swap *link arguments to match syscall API
  CHANGELOG.md
  build.rs
  contrib/bindings/python/pathrs/_pathrs.py
  e2e-tests/cmd/go/root.go
  e2e-tests/cmd/python/pathrs-cmd.py
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/root_linux.go
  include/pathrs.h
  src/capi/core.rs
  src/tests/capi/root.rs
Due: pathrs, libpathrs.so

install: add --rust-{target,buildmode} args
  CHANGELOG.md
  install.sh
Due: none

makefile: add EXTRA_*_FLAGS options to make packaging easier
  CHANGELOG.md
  Makefile
Due: none

capi: do not output .symver for non-cdylib builds
  CHANGELOG.md
  Cargo.toml
  Makefile
  build.rs
  hack/with-crate-type.sh
  src/capi/utils.rs
Due: libpathrs.so

go-pathrs: fix build errors on i386
  CHANGELOG.md
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/procfs/procfs_linux.go
Due: none
