Repository cyphar/libpathrs: changes, and which Codecov flags are due for each by the changed paths.
All: pathrs, libpathrs.so

codecov.yml:

# SPDX-License-Identifier: MPL-2.0
#
# libpathrs: safe path resolution on Linux
# Copyright (C) 2019-2025 Aleksa Sarai <cyphar@cyphar.com>
# Copyright (C) 2019-2025 SUSE LLC
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

comment:
  layout: "reach, diff, components, files"
  require_changes: true
  behavior: once
  branches:
    - master

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: pathrs
      name: pathrs
      paths:
        - "src/**"
        - "!src/capi/**"
      statuses:
        - type: project
          target: 80%
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%
    - component_id: pathrs-capi
      name: libpathrs.so
      paths:
        - "src/capi/**"
      statuses:
        - type: project
          target: 80%
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

coverage:
  range: 60..95

github_checks:
  annotations: true

docs: kernel-features: mention ino field hardening
  docs/kernel-features.md
Due: none

docs: add Go examples
  README.md
  docs/procfs-api.md
Due: none

wip
  src/flags.rs
  src/resolvers/opath/imp.rs
  src/syscalls.rs
  src/tests/common/root.rs
  src/tests/test_resolve.rs
  src/tests/test_resolve_partial.rs
  src/utils/fd.rs
Due: pathrs

go-pathrs: don't refer to Root in own docstring
  go-pathrs/root_linux.go
Due: none

go-pathrs: fix Resolve/ResolveNoFollow doc links
  go-pathrs/root_linux.go
Due: none

go-pathrs: link os.O_* constants
  go-pathrs/root_linux.go
Due: none

docs: drop the 3-col examples setup
  README.md
  docs/procfs-api.md
Due: none

capi: add pathrs_version() API
  contrib/bindings/python/pathrs/_pathrs.py
  examples/c/cat.c
  examples/c/cat_multithread.c
  examples/go/cat.go
  examples/python/sysctl.py
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/version_linux.go
  include/pathrs.h
  src/capi/core.rs
Due: libpathrs.so

mypy: fix new errors
  contrib/bindings/python/pathrs/_internal.py
  e2e-tests/cmd/python/pathrs-cmd.py
Due: none

ci: make empty target/llvm-cov-target directory
  hack/rust-tests.sh
Due: none

opath resolver: assume fs.protected_symlinks=1 if /proc access fails
  CHANGELOG.md
  src/resolvers/opath/imp.rs
Due: pathrs

hack: symbols: handle non-default symbol versions
  hack/check-elf-symbols.sh
Due: none

mypy: re-add ignore for ffi.NULL check
  contrib/bindings/python/pathrs/_internal.py
  contrib/bindings/python/setup.py
Due: none

capi: add copy_into_extensible_struct helper
  src/capi/utils.rs
Due: libpathrs.so

e2e-tests: add tests for pathrs_version
  e2e-tests/cmd/README.md
  e2e-tests/cmd/go/main.go
  e2e-tests/cmd/python/pathrs-cmd.py
  e2e-tests/cmd/rust/src/main.rs
  e2e-tests/cmd/rust/src/version.rs
  e2e-tests/tests/helpers.bash
  e2e-tests/tests/version.bats
  src/lib.rs
Due: pathrs

capi: add pathrs_version API
  CHANGELOG.md
  build.rs
  cbindgen.toml
  contrib/bindings/python/pathrs/_internal.py
  contrib/bindings/python/pathrs/_libpathrs_cffi/lib.pyi
  contrib/bindings/python/pathrs/_pathrs.py
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/version_linux.go
  include/pathrs.h
  src/capi.rs
  src/capi/ret.rs
  src/capi/version.rs
Due: pathrs, libpathrs.so

flags: switch RenameFlags to u64
  CHANGELOG.md
  src/capi/core.rs
  src/flags.rs
  src/tests/capi/root.rs
Due: pathrs, libpathrs.so

hack: symbols: handle compat "hidden" symbols
  hack/check-elf-symbols.sh
Due: none

capi: add {old,new}_root_fd arguments to pathrs_inroot_rename
  CHANGELOG.md
  contrib/bindings/python/pathrs/_libpathrs_cffi/lib.pyi
  contrib/bindings/python/pathrs/_pathrs.py
  e2e-tests/cmd/go/root.go
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/root_linux.go
  include/pathrs.h
  src/capi/core.rs
  src/tests/capi/root.rs
  src/tests/capi/test_compat.rs
Due: pathrs, libpathrs.so

capi: change *link arguments to match syscall API
  CHANGELOG.md
  contrib/bindings/python/pathrs/_libpathrs_cffi/lib.pyi
  contrib/bindings/python/pathrs/_pathrs.py
  e2e-tests/cmd/go/root.go
  e2e-tests/cmd/python/pathrs-cmd.py
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/root_linux.go
  include/pathrs.h
  src/capi/core.rs
  src/tests.rs
  src/tests/capi/root.rs
  src/tests/capi/test_compat.rs
Due: pathrs, libpathrs.so

install: add --{enable,disable}-{static,dynamic} flags
  CHANGELOG.md
  install.sh
Due: none

codecov: work around bug in coverage configuration
  codecov.yml
Due: none

root: make readlink return -EINVAL for non-symlinks
  CHANGELOG.md
  e2e-tests/tests/root-readlink.bats
  src/root.rs
  src/syscalls.rs
  src/tests/test_root_ops.rs
Due: pathrs

tests: capi: handle 1-sized link target
  src/tests/capi/utils.rs
Due: pathrs

tests: add Root::readlink tests
  src/tests/test_root_ops.rs
Due: pathrs

CHANGELOG: make breaking warning a little louder
  CHANGELOG.md
Due: none

CHANGELOG: note about new rootfd arguments
  CHANGELOG.md
Due: none

docs: add BlueHammer and RedSun to list of avoidable vulns
  docs/avoidable-vulnerabilities.md
Due: none

ci: pin cbindgen v0.29.2
  .github/workflows/rust.yml
Due: none

ci: bump to cbindgen v0.29.3
  .github/workflows/rust.yml
  include/pathrs.h
Due: none

docs: add rsync bugs to list of vulns
  docs/avoidable-vulnerabilities.md
Due: none

tests: fix memory leaks in capi compat tests
  src/tests/capi/test_compat.rs
Due: pathrs

flags: switch OpenFlags to u64
  CHANGELOG.md
  e2e-tests/cmd/go/procfs.go
  e2e-tests/cmd/go/root.go
  e2e-tests/cmd/go/ux_oflags.go
  go-pathrs/handle_linux.go
  go-pathrs/internal/libpathrs/libpathrs_linux.go
  go-pathrs/procfs/procfs_linux.go
  go-pathrs/root_linux.go
  include/pathrs.h
  src/capi/core.rs
  src/capi/procfs.rs
  src/flags.rs
  src/syscalls.rs
  src/tests/capi/test_compat.rs
  src/tests/common/handle.rs
Due: pathrs, libpathrs.so

syscalls: switch OpenHow to OpenFlags
  src/resolvers/openat2.rs
  src/resolvers/procfs.rs
  src/syscalls.rs
  src/utils/raw_procfs.rs
Due: pathrs

gha: switch to rustup and cargo
  .github/workflows/bindings-c.yml
  .github/workflows/bindings-go.yml
  .github/workflows/bindings-python.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/rust.yml
Due: none

hack: rust-tests: add --help option
  hack/rust-tests.sh
Due: none

hack: rust-tests: support --report-output-path
  hack/rust-tests.sh
Due: none

hack: rust-tests: auto-set _test_as_root if running as root
  hack/rust-tests.sh
Due: none

tests: improve propagated error messages
  src/tests/capi/test_compat.rs
  src/tests/common/handle.rs
  src/tests/common/mntns.rs
  src/tests/common/root.rs
  src/tests/test_race_resolve_partial.rs
  src/tests/test_resolve.rs
  src/tests/test_resolve_partial.rs
  src/tests/test_root_ops.rs
Due: pathrs

tests: add _test_can_mknod feature
  .github/workflows/rust.yml
  Cargo.toml
  src/tests/test_root_ops.rs
Due: pathrs
