Repository cyphar/libpathrs: changes, and which Codecov flags are due for each by the changed paths.
All: pathrs, libpathrs.so

codecov.yml:

# SPDX-License-Identifier: MPL-2.0
#
# libpathrs: safe path resolution on Linux
# Copyright (C) 2019-2025 Aleksa Sarai <cyphar@cyphar.com>
# Copyright (C) 2019-2025 SUSE LLC
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

comment:
  layout: "reach, diff, components, files"
  require_changes: true
  behavior: once
  branches:
    - master

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto
  individual_components:
    - component_id: pathrs
      name: pathrs
      paths:
        - "src/**"
        - "!src/capi/**"
      statuses:
        - type: project
          target: 80%
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%
    - component_id: pathrs-capi
      name: libpathrs.so
      paths:
        - "src/capi/**"
      statuses:
        - type: project
          target: 80%
          threshold: 0%
        - type: patch
          target: auto
          threshold: 0%

coverage:
  range: 60..95

github_checks:
  annotations: true

tests: capi: use O_NOCTTY rather than O_NOATIME
  src/tests/capi/test_compat.rs
Due: pathrs

ci: add Dockerfile
  .dockerignore
  Dockerfile
Due: none

gha: run container tests in CI
  .github/workflows/e2e-tests.yml
  .github/workflows/rust.yml
Due: none

[wip] switch to libtest-mimic
  Cargo.lock
  Cargo.toml
  contrib/fake-enosys/src/bpf.rs
  contrib/fake-enosys/src/main.rs
  e2e-tests/cmd/rust/src/main.rs
  src/capi/error.rs
  src/capi/procfs.rs
  src/capi/utils.rs
  src/capi/version.rs
  src/error.rs
  src/flags.rs
  src/handle.rs
  src/lib.rs
  src/procfs.rs
  src/resolvers/opath/symlink_stack.rs
  src/resolvers/procfs.rs
  src/root.rs
  src/syscalls.rs
  src/tests/capi/test_compat.rs
  src/tests/test_procfs.rs
  src/tests/test_race_resolve_partial.rs
  src/tests/test_resolve.rs
  src/tests/test_resolve_partial.rs
  src/tests/test_root_ops.rs
  src/utils/dir.rs
  src/utils/fd.rs
  src/utils/fdinfo.rs
  src/utils/kernel_version.rs
  src/utils/maybe_owned.rs
  src/utils/path.rs
  src/utils/raw_procfs.rs
  src/utils/sysctl.rs
Due: pathrs, libpathrs.so

[wip] tests: add support for panic-based runtime skipping
  src/tests.rs
  src/tests/common/skip.rs
Due: pathrs

tests: improve propagated error messages
  src/tests/capi/test_compat.rs
  src/tests/common/handle.rs
  src/tests/common/mntns.rs
  src/tests/common/root.rs
  src/tests/test_race_resolve_partial.rs
  src/tests/test_resolve.rs
  src/tests/test_resolve_partial.rs
  src/tests/test_root_ops.rs
Due: pathrs

hotfix: tests: allow skipping in-mntns tests
  src/tests/common/mntns.rs
Due: pathrs

tests: add _test_can_mknod feature
  .github/workflows/rust.yml
  Cargo.toml
  src/tests/test_root_ops.rs
Due: pathrs

hotfix: tests: skip procfs tests if /proc/sys is overmounted
  src/tests/common/procfs.rs
  src/tests/test_procfs.rs
  src/utils/sysctl.rs
Due: pathrs

hack: rust-tests: add --help option
  hack/rust-tests.sh
Due: none

e2e-tests: don't use /proc/sys for readlink tests
  e2e-tests/tests/procfs-readlink.bats
  src/tests/common/procfs.rs
  src/utils/sysctl.rs
Due: pathrs

hack: rust-tests: auto-set _test_as_root if running as root
  hack/rust-tests.sh
Due: none

hack: rust-tests: support --report-output-path
  hack/rust-tests.sh
Due: none

readlink: move ENOENT -> EINVAL logic to syscall wrapper
  CHANGELOG.md
  e2e-tests/tests/procfs-readlink.bats
  src/root.rs
  src/syscalls.rs
  src/tests/test_procfs.rs
Due: pathrs

gha: move release jobs to separate workflow
  .github/workflows/release.yml
  .github/workflows/rust.yml
Due: none

gha: check release tag signature before releasing
  .github/workflows/release.yml
  hack/ci-check-release-tag.sh
Due: none

gha: disable "Trusted" Publishing flows temporarily
  .github/workflows/bindings-python.yml
  .github/workflows/rust.yml
  CHANGELOG.md
Due: none

VERSION: release v0.2.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/bindings/python/pyproject.toml
Due: none

VERSION: back to development
  Cargo.lock
  Cargo.toml
  contrib/bindings/python/pyproject.toml
Due: none

install: properly name --{enable,disable}-shared
  CHANGELOG.md
  install.sh
Due: none

release: fix vendor.tar.zst generation
  hack/release.sh
Due: none

gha: check release artefacts in CI
  .github/workflows/rust.yml
Due: none

docs: add new batch of Incus vulns
  docs/avoidable-vulnerabilities.md
Due: none

lint: fix clippy::needless_return_with_question_mark
  src/capi/procfs.rs
  src/procfs.rs
Due: pathrs, libpathrs.so

python: fix ruff 0.16 errors
  contrib/bindings/python/README.md
  contrib/bindings/python/pathrs/__init__.py
  contrib/bindings/python/pathrs/_internal.py
  contrib/bindings/python/pathrs/_libpathrs_cffi/lib.pyi
  contrib/bindings/python/pathrs/_pathrs.py
  contrib/bindings/python/pathrs/pathrs_build.py
  contrib/bindings/python/pathrs/procfs.py
  contrib/bindings/python/setup.py
  e2e-tests/cmd/python/pathrs-cmd.py
  examples/python/cat.py
  examples/python/static_web.py
Due: none

make: improve builds on old distros with pre-edition2024 Rust
  Cargo.toml
  hack/with-crate-type.sh
Due: none

gha: workaround for cargo-llvm-cov build-dir v2 regression
  .github/workflows/rust.yml
  Dockerfile
Due: none

rustfmt: update comment wrapping
  .rustfmt.toml
  build.rs
  contrib/fake-enosys/src/main.rs
  src/capi/core.rs
  src/capi/procfs.rs
  src/capi/utils.rs
  src/resolvers/opath/imp.rs
  src/syscalls.rs
  src/tests/traits/handle.rs
  src/utils/fd.rs
  src/utils/fdinfo.rs
Due: pathrs, libpathrs.so

rust: use the toolchain's llvm-profdata
  Dockerfile
  hack/rust-tests.sh
Due: none

python: bump minimum to 3.10 and fix lints
  .github/workflows/bindings-python.yml
  .github/workflows/e2e-tests.yml
  contrib/bindings/python/README.md
  contrib/bindings/python/pathrs/__init__.py
  contrib/bindings/python/pathrs/_internal.py
  contrib/bindings/python/pathrs/_libpathrs_cffi/lib.pyi
  contrib/bindings/python/pathrs/_pathrs.py
  contrib/bindings/python/pathrs/pathrs_build.py
  contrib/bindings/python/pathrs/procfs.py
  contrib/bindings/python/pyproject.toml
  contrib/bindings/python/setup.py
  e2e-tests/cmd/python/pathrs-cmd.py
  examples/python/cat.py
  examples/python/static_web.py
Due: none

gha: add workflow_dispatch trigger
  .github/workflows/bindings-c.yml
  .github/workflows/bindings-go.yml
  .github/workflows/bindings-python.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/rust.yml
Due: none

go: bump go versions and minor deps
  .github/dependabot.yml
  .github/workflows/bindings-go.yml
  e2e-tests/cmd/go/go.mod
  e2e-tests/cmd/go/go.sum
Due: none

gha: bump deps
  .github/workflows/e2e-tests.yml
  .github/workflows/rust.yml
Due: none

rust: bump to 1.98 and nightly-2026-09-03 in CI
  .github/workflows/rust.yml
  Dockerfile
Due: none

go-pathrs: fix build failure with Clang
  .github/workflows/bindings-go.yml
  CHANGELOG.md
  go-pathrs/internal/libpathrs/libpathrs_linux.go
Due: none

go-pathrs: don't derive ProcBase from the C enum
  CHANGELOG.md
  go-pathrs/internal/libpathrs/libpathrs_linux.go
Due: none

docs: include recent avoidable vulns
  docs/avoidable-vulnerabilities.md
Due: none
